.main-card {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.lesson-title {
  font-size: 20px;
  padding: 15px 30px;
}

.sections-name {
  list-style: none;
}

.lesson-section-title {
  margin-top: 25px;
}
